name: Node.js Publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: Ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    # Setup .npmrc file to publish to npm
    - uses: actions/setup-node@v6
      with:
        node-version: 24.x
        # Needs to be explicitly specified for auth to work
        registry-url: https://registry.npmjs.org
    - run: npm ci
    - run: npm publish --access public